.card {
    background-color: "#36454F";
    
}

.app {
    background-color: "#36454F";
}

.car-form {
    padding: 8px;
    margin: 1px;
    background-color: "#36454F"
}

.nring-site {
    color: white;
    text-align: center;
    height: auto
}

.green-hell {
    text-align: center;
}

.laptimes {
    height: 55px;
    align-items: center;
    justify-content: center;
}

